{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body style="background-color: pink;">
   <center>
    
        <h1><marquee>GOOD MORNING</marquee></h1>
        <h1>Be positive</h1>
        <h2>SATISFY YOUR SOUL NOT SOCIETY</h2>
        <img src="{% static 'images/anu.jpg' %}" alt="" srcset="">

        <h3>Anupama Parameswaran has a net worth of $4 Million in 2023,
             which is equivalent to 33 Crore in Indian rupees. She is an
             Indian actress and model, who mainly works in Telugu, Malayalam,
             and Tamil Films. She is well-known for her debut role in Premam (2015),
             a Malayalam movie.</h3>
       <h1>ANUPAMA STUDIES</h1>
        <h3>
            
            Anupama was born on 18 February 1996
            to malayali family in Irinjalakuda, Thrissur
            district, Kerala to Parameswaran Erekkath and 
            Sunitha Parameswaran. She has a younger brother Akshay. 
            She attended CMS College Kottayam, Kerala where she majored 
            in Communicative English until she discontinued college to 
            pursue acting.</h3>

    </center>
</body>
</html>
