<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chinni</title>
</head>
<body>
    <center>
        <h1>this is chinni page</h1>
        <h1>this is app2 page</h1>
        <a href="{% url 'app2:sai' %}">navigate to sai page</a><br>
        <a href="{% url 'app1:vijji' %}">navigate to chinni page</a><br>
        <a href="{% url 'app1:akhi' %}">navigate to akhi page</a><br>
    </center>
</body>
</html>